<div class="text-layout">
    <h1>Decimal & Porcentaje Pipes</h1>
    <p>Pipes incluidos en Angular - Usualmente en CommonModule.</p>
</div>
<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas netas" subheader="Año 2021">
            <i class="pi pi-dollar"></i> {{ ventasNetas | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ventas netas" subheader="Año 2020">
            {{ ventasNetas + 2000000 | currency:'CAD':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="p-col-4">
        <p-card header="Ganancia porcentual" subheader="Año 2020">
            {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>
</div>